<!DOCTYPE html>

<html>
<head>
    <title>Create Event</title>
</head>
<body>
    <body class="bg-create-event">

    {% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block content %}

<h2>Create New Event (Admin)</h2>

<form method="POST">
    <input type="text" name="title" placeholder="Event Title" required><br><br>

```
<textarea name="description" placeholder="Event Description" required></textarea><br><br>

<input type="date" name="date" required><br><br>

<input type="text" name="venue" placeholder="Venue" required><br><br>

<input type="number" name="price" placeholder="Price" required><br><br>

<button type="submit">Create Event</button>
```

</form>

{% endblock %}



</body>
</html>
